html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #8E4585;
    font-family: 'Lora', serif;
    font-size: 3rem;
}

#wrapper {
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 1rem;
}

#content {
    padding: 1rem;
    animation: fade-in 10s;
    background: rgba(256, 256, 256, 0.85);
}

p:first-child {
    margin-top: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}